#navigationLinks{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;

}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
.navLinks > li > a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--black);
}
.navLinks > li{
    position: relative;
}
.navLinks > li::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--black);
    position: absolute;
    bottom: -5px;
    transition: .2s linear;
}
.navLinks > li:hover::before{
    width: 100%;
}